<div>
<style>
.raz {
  border-spacing: 12.5em 1.3em; /* border-collapse наследуется, применяется только к table или inline-table элементам с border-collapse: separate; */ 
}
.raz,
.raz td {
  border: 0px solid red;
padding: .3em 1em
}
</style>



<a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDWifiMagicHome"> 
<img src="../img/modules/rtldongle.jpg" width="10%" > 
</a>
&nbsp;&nbsp; &nbsp;&nbsp;
&nbsp;&nbsp; &nbsp;&nbsp;
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=start&tab=info">RUN</a>
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=stop&tab=info">STOP</a>
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=read&tab=info">READ</a>

	
&nbsp;&nbsp;&nbsp;&nbsp;	
	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]

 &nbsp; 	
	
&nbsp;&nbsp;&nbsp;&nbsp;	
	[#if APPRUN==1#]
		<span class="label label-success" title="Статус приложения">rtl433 запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус приложения">rtl433 остановлен</span>
	[#endif#]

 &nbsp; 




 &nbsp; 
</div>



	 <ul class="nav nav-tabs">

<br>
<li [#if TAB=="" || TAB=="info" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=info"><span class="glyphicon glyphicon-list-alt"></span> Информация</a></li>
<li [#if TAB=="configdevices" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=configdevices"><span class="glyphicon glyphicon-cog"></span> Список устройств</a></li> 
<li [#if TAB=="config" #] class="active" [#endif#]><a href="?view_mode=&tab=config"><span class="glyphicon glyphicon-cog"></span> Настройка</a> </li>	
<li [#if TAB=="debug" #] class="active" [#endif#]><a href="?view_mode=&tab=debug"><span class="glyphicon glyphicon-inbox"></span> Отладка</a> </li>	

<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=&tab=help"><span class="glyphicon glyphicon-info-sign"></span> Помощь</a> </li>	
</ul>

[#if TAB="info"|| TAB==""#] [#inc devlist.html#] [#endif#]


[#if TAB="debug"#]
<!-- &nbsp;&nbsp;<a class="btn btn-default" href="rtl433.php?json=null">CLEAR</a> -->
<div>
Process:
[#MSG_PS#]<br>
</div>
<div>
<br>
Debug:<br>
[#MSG_DEBUG#]

</div>
[#endif#]

   [#if TAB="configdevices"#]
      [#inc devconfig.html#]
   [#endif TAB#]


   [#if TAB="config"#]
      [#inc config.html#]
   [#endif TAB#]



[#if VIEW_MODE="edit_devices"#]
   [#if ID!=""#]
      [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
      <ul class="nav nav-tabs">
         <li [#if TAB=""#] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=infoedit"><#LANG_GENERAL#></a>
         </li>
         <li [#if TAB="data"#] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data"><#LANG_DATA#></a>
         </li>
      </ul>
      &nbsp;
      <br/>
   [#endif ID#]
   

   [#if TAB="infoedit"#]
      [#inc devices_edit_default.html#]
   [#endif TAB#]

   
   [#if TAB="data"#]
      [#inc devices_edit_data.html#]
   [#endif TAB#]
[#endif VIEW_MODE#]
