[#if VIEW_MODE=""#]

<table align="center" class="table table-striped">
 <tr> 
  <td><b>ID</b></td>
  <td><b>Enable</b></td>
  <td><b>Device Name</b></td>
 </tr>



[#begin CONFIGDEVICES#]

 <tr>
  <td>[#ID#]</td>

  <td style="vertical-align:middle">
 [#if ENABLE=="1"#]
   <a href="?view_mode=config_uncheck&id=[#ID#]&tab=configdevices" class="btn btn-default" title="Не проверять"><i class="glyphicon glyphicon-ok"></i></a>
  [#else#]
 <a href="?view_mode=config_check&id=[#ID#]&tab=configdevices" class="btn btn-default" title="Проверять"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif#]
  </td>  


  <td>[#NAME#]</td>
 [#end CONFIGDEVICES#]
</table>
 <a href="?view_mode=config_uncheckall&id=[#ID#]&tab=configdevices" class="btn btn-default" title="Проверять">Снять со всех</i></a>
 <a href="?view_mode=config_checkall&id=[#ID#]&tab=configdevices" class="btn btn-default" title="Проверять">Выделить всех</i></a>



[#endif VIEW_MODE#]


