[#if VIEW_MODE=""#]


<table align="center" class="table table-striped">
 <tr> 
  <td><b>ID</b></td>
  <td><b>model</b></td>
  <td><b>time</b></td>
  <td><b>iddev</b></td>
  <td><b>battery</b></td>
  <td><b>channel</b></td>
  <td><b>temperature_C</b></td>
  <td><b>humidity</b></td>
 </tr>




[#begin DEVICES#]

 <tr>
  <td>[#ID#]</td>
  <td>[#model#]</td>
  <td>[#time#]</td>
  <td>[#iddev#]</td>
  <td>[#battery#]</td>
  <td>[#channel#]</td>
  <td>[#temperature_C#]</td>
  <td>[#humidity#]</td>
<td>
  <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=[#ID#]&tab=infoedit" class="btn btn-default" title="Редактировать"><i class="glyphicon glyphicon-pencil"></i></a>
  <a href="?view_mode=delete_devices&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-trash"></i></a> 
  </td>
 </tr>
 [#end DEVICES#]
</table>
[#else DEVICES#]
<p>No devices discovered yet</p>
[#endif DEVICES#]



[#endif VIEW_MODE#]

 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=clearall&tab=info">CLEAR ALL</a>
