<br>[01] Silvercrest Remote Control
<br>[02] Rubicson Temperature Sensor
<br>[03] Prologue Temperature Sensor
<br>[04] Waveman Switch Transmitter
<br>[05]* Steffen Switch Transmitter
<br>[06]* ELV EM 1000
<br>[07]* ELV WS 2000
<br>[08] LaCrosse TX Temperature / Humidity Sensor
<br>[09]* Template decoder
<br>[10]* Acurite 896 Rain Gauge
<br>[11] Acurite 609TXC Temperature and Humidity Sensor
<br>[12] Oregon Scientific Weather Sensor
<br>[13]* Mebus 433
<br>[14]* Intertechno 433
<br>[15] KlikAanKlikUit Wireless Switch
<br>[16] AlectoV1 Weather Sensor (Alecto WS3500 WS4500 Ventus W155/W044 Oregon)
<br>[17] Cardin S466-TX2
<br>[18] Fine Offset Electronics, WH2, WH5, Telldus Temperature/Humidity/Rain Sensor
<br>[19] Nexus Temperature & Humidity Sensor
<br>[20] Ambient Weather Temperature Sensor
<br>[21] Calibeur RF-104 Sensor
<br>[22]* X10 RF
<br>[23] DSC Security Contact
<br>[24]* Brennenstuhl RCS 2044
<br>[25] GT-WT-02 Sensor
<br>[26] Danfoss CFR Thermostat
<br>[27]* Energy Count 3000 (868.3 MHz)
<br>[28]* Valeo Car Key
<br>[29] Chuango Security Technology
<br>[30] Generic Remote SC226x EV1527
<br>[31] TFA-Twin-Plus-30.3049 and Ea2 BL999
<br>[32] Fine Offset Electronics WH1080/WH3080 Weather Station
<br>[33] WT450
<br>[34] LaCrosse WS-2310 Weather Station
<br>[35] Esperanza EWS
<br>[36] Efergy e2 classic
<br>[37]* Inovalley kw9015b, TFA Dostmann 30.3161 (Rain and temperature sensor)
<br>[38] Generic temperature sensor 1
<br>[39] WG-PB12V1
<br>[40] Acurite 592TXR Temp/Humidity, 5n1 Weather Station, 6045 Lightning
<br>[41] Acurite 986 Refrigerator / Freezer Thermometer
<br>[42] HIDEKI TS04 Temperature, Humidity, Wind and Rain Sensor
<br>[43] Watchman Sonic / Apollo Ultrasonic / Beckett Rocket oil tank monitor
<br>[44] CurrentCost Current Sensor
<br>[45] emonTx OpenEnergyMonitor
<br>[46] HT680 Remote control
<br>[47] S3318P Temperature & Humidity Sensor
<br>[48] Akhan 100F14 remote keyless entry
<br>[49] Quhwa
<br>[50] OSv1 Temperature Sensor
<br>[51] Proove
<br>[52] Bresser Thermo-/Hygro-Sensor 3CH
<br>[53] Springfield Temperature and Soil Moisture
<br>[54] Oregon Scientific SL109H Remote Thermal Hygro Sensor
<br>[55] Acurite 606TX Temperature Sensor
<br>[56] TFA pool temperature sensor 
<br>[57] Kedsum Temperature & Humidity Sensor
<br>[58] blyss DC5-UK-WH (433.92 MHz)
<br>[59] Steelmate TPMS
<br>[60] Schrader TPMS
<br>[61]* LightwaveRF
<br>[62] Elro DB286A Doorbell
<br>[63] Efergy Optical
<br>[64] Honda Car Key
<br>[65]* Template decoder
<br>[66]* Template decoder
<br>[67] Radiohead ASK
<br>[68] Kerui PIR Sensor
<br>[69] Fine Offset WH1050 Weather Station
<br>[70] Honeywell Door/Window Sensor
<br>[71] Maverick ET-732/733 BBQ Sensor
<br>[72]* RF-tech
<br>[73] LaCrosse TX141-Bv2/TX141TH-Bv2 sensor
<br>[74] Acurite 00275rm,00276rm Temp/Humidity with optional probe
<br>[75] LaCrosse TX35DTH-IT, TFA Dostmann 30.3155 Temperature/Humidity sensor
<br>[76] LaCrosse TX29IT Temperature sensor
<br>[77] Vaillant calorMatic 340f Central Heating Control
<br>[78] Fine Offset Electronics, WH25, WH24, HP1000 Temperature/Humidity/Pressure Sensor
<br>[79] Fine Offset Electronics, WH0530 Temperature/Rain Sensor
<br>[80] IBIS beacon
<br>[81] Oil Ultrasonic STANDARD FSK
<br>[82] Citroen TPMS
<br>[83] Oil Ultrasonic STANDARD ASK 
<br>[84] Thermopro TP11 Thermometer
<br>[85] Solight TE44
<br>[86] Wireless Smoke and Heat Detector GS 558
<br>[87] Generic wireless motion sensor
<br>[88] Toyota TPMS
<br>[89] Ford TPMS
<br>[90] Renault TPMS
<br>[91]* inFactory
<br>[92] FT-004-B Temperature Sensor
<br>[93] Ford Car Key
<br>[94] Philips outdoor temperature sensor
<br>[95] Schrader TPMS EG53MA4
<br>[96] Nexa
<br>[97] Thermopro TP08/TP12 thermometer
<br>[98] GE Color Effects
<br>[99] X10 Security
<br>[100] Interlogix GE UTC Security Devices
<br>[101]* Dish remote 6.3
<br>[102]* SimpliSafe Home Security System (May require disabling automatic gain for KeyPad decodes)
<br>[103] Sensible Living Mini-Plant Moisture Sensor
<br>[104]* Wireless M-Bus, Mode C&T, 100kbps (-f 868950000 -s 1200000)
<br>[105]* Wireless M-Bus, Mode S, 32.768kbps (-f 868300000 -s 1000000)
<br>[106]* Wireless M-Bus, Mode R, 4.8kbps (-f 868330000)
<br>[107]* Wireless M-Bus, Mode F, 2.4kbps
<br>[108] WS Temperature Sensor
<br>[109] WT0124 Pool Thermometer
